// ===========
// TYPOGRAPHY
// ===========
.cbre-has-text-white {
  color: #fff !important;
}

.cbre-has-text-brand-two {
  color: $brand-two !important;
}

.cbre-heading-has-icon {
  display: table;
  .cbre-heading-icon,
  .cbre-heading-content {
    display: table-cell;
    vertical-align: middle;
  }
}

.cbre-heading-icon {
  max-width: 35px !important;
  max-height: 35px !important;
  margin-right: 0.5em !important;
}


// ========
// SPACING
// ========
.cbre-pad-y {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  &-more {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

.cbre-pad-t {
  padding-top: 30px !important;
  &-more {
    padding-top: 60px !important;
  }
}

.cbre-pad-b {
  padding-bottom: 30px !important;
  &-more {
    padding-bottom: 60px !important;
  }
}

.cbre-pad-x {
  padding-left: 30px !important;
  padding-right: 30px !important;
  &-more {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

.cbre-pad-l {
  padding-left: 30px !important;
  &-more {
    padding-left: 60px !important;
  }
}

.cbre-pad-r {
  padding-right: 30px !important;
  &-more {
    padding-right: 60px !important;
  }
}

.cbre-mar-y {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  &-more {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

.cbre-mar-t {
  margin-top: 30px !important;
  &-more {
    margin-top: 60px !important;
  }
}

.cbre-mar-b {
  margin-bottom: 30px !important;
  &-more {
    margin-bottom: 60px !important;
  }
  &-neg {
    margin-bottom: -30px !important;
  }
}

.cbre-mar-x {
  margin-left: 30px !important;
  margin-right: 30px !important;
  @media screen and (max-width: 568px) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  &-more {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}

.cbre-mar-l {
  margin-left: 30px !important;
  &-more {
    margin-left: 60px !important;
  }
}

.cbre-mar-r {
  margin-right: 30px !important;
  &-more {
    margin-right: 60px !important;
  }
}

.cbre-b-a {
  border: 1px solid #fff;
}