@import './_client_variables';

/*
======================================================
GITHUB REPO: https://github.com/danieljbell/CBRE-theme
======================================================
*/

// ====================
// LOADING CUSTOM FONT
// ====================
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url(https://mytinder.s3.amazonaws.com/assets/account/2702/fonts/Futura-Medium_1515513402.ttf);
}
@font-face {
  font-family: 'Futura Bold';
  font-style: normal;
  font-weight: 400;
  src: url(https://mytinder.s3.amazonaws.com/assets/account/2702/fonts/Futura-CondensedExtraBold_1515513450.ttf);
}
@font-face {
  font-family: 'Futura';
  font-style: italic;
  font-weight: 500;
  src: url(https://mytinder.s3.amazonaws.com/assets/account/2702/fonts/Futura-MediumItalic_1515513456.ttf);
}

// =========================
// THEME BUILDER OVERRIDES
// =========================
@import './_overrides';

// =========================
// CUSTOM MODULES
// =========================
@import './modules/_full-pages';
@import './modules/_boxes';
@import './modules/_headshots';
@import './modules/_icon-list';
@import './modules/_tables';
@import './modules/_title-bar';

// =========================
// CUSTOM PAGES
// =========================
@import './pages/_cover--front';
@import './pages/_page--intro-letter';
@import './pages/_page--resourcing';
@import './pages/_page--professional-profiles';
@import './pages/_page--transition';
@import './pages/_page--transition-two';
@import './pages/_page--pulse';
@import './pages/_page--platform-systems';
@import './pages/_page--contractor-induction-tool';
@import './pages/_page--sustainability-two';
@import './pages/_page--conclusion';
@import './pages/_cover--back';

// ===============
// UTILITY CLASSES
// ===============
@import './_utilities';






