@import './_client_variables';

/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme-template
=================================================================
*/


// THEME BUILDER OVERRIDES
#content_editor h1,
.pdf-page-content h1 {
  text-transform: uppercase;
}

#content_editor h2,
.pdf-page-content h2 {
  text-transform: uppercase;
  font-family: $base-font-family;
}

// FULL PAGE
.cbre-full-page {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  min-height: 800px;
  padding: 20px 30px;
}

// COVER PAGE
.cbre-cover-page {
  background-image: url(../img/cover-page-bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1, h2, p {
    color: #fff !important;
  }
}

.cbre-cover-page-content-container {
  background-color: transparentize($brand, 0.1);
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 2em;
}

.cbre-cover-page-logo-container {
  background-color: transparentize($brand, 0.1);
  margin-bottom: 2em;
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
  img {
    display: block;
    margin: 0 auto;
    padding: 0.5em;
  }
}






// UTILITY CLASSES
.cbre-brand-box {
  background-color: transparentize($brand, 0.1);
  padding: 30px;
  margin: 60px;
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    color: #fff !important;
  }
}

.cbre-title-bar {
  background-color: $brand;
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  padding: 30px 30px 20px;
  h1 {
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
}

.cbre-has-text-brand-two {
  color: $brand-two !important;
}