@import './_client_variables';

/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme-template
=================================================================
*/


// =========================
// THEME BUILDER OVERRIDES
// =========================

// TYPOGRAPHY
#content_editor h1,
.pdf-page-content h1 {
  text-transform: uppercase;
}

#content_editor h2,
.pdf-page-content h2 {
  text-transform: uppercase;
  font-family: $base-font-family;
}

#content_editor blockquote,
.pdf-page-content blockquote {
  color: $brand-three;
  font-size: 1.25em !important;
  font-family: $base-font-family;
}

#content_editor ul,
.pdf-page-content ul {
  padding-left: 1em !important;
  li {
    margin-bottom: 0.5em !important;
  }
}

// GRID
#content_editor .no-gutters .half,
.pdf-page-content .no-gutters .half,
#content_editor .no-gutters .one-third,
.pdf-page-content .no-gutters .one-third,
#content_editor .no-gutters .two-thirds,
.pdf-page-content .no-gutters .two-thirds {
  padding: 0 30px !important;
  &:nth-child(2n-1) {
    padding-left: 0 !important;
  }
  &:nth-child(2n) {
    padding-right: 0 !important;
  }
  @media screen and (max-width: 568px) {
    padding: 0 !important;
  }
}

#content_editor .pull-right,
.pdf-page-content .pull-right {
  @media screen and (max-width: 568px) {
    float: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  } 
}


// CUSTOM GRID CLASSES
.cbre-vertical-align {
  display: flex;
  align-items: center;
  @media screen and (max-width: 568px) {
    display: block;
  }
}


// =================
// CUSTOM FULL PAGES
// =================

// BASE STYLES
.cbre-full-page {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  // min-height: 800px;
  padding: 20px 30px;
  margin-bottom: -40px;
  background-size: cover;
  background-position: center;
}

// FULL WIDTH CONTAINER 
.cbre-full-width {
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
  img {
    width: 100%;
  }
}

// COVER PAGE
.cbre-cover-page {
  background-image: url(../img/cover-page-bg.jpg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1, h2, p {
    color: #fff !important;
  }
}

.cbre-cover-page-content-container {
  background-color: transparentize($brand, 0.1);
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 2em;
}

.cbre-cover-page-logo-container {
  background-color: transparentize($brand, 0.1);
  margin-bottom: 2em;
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
  img {
    display: block;
    margin: 0 auto;
    padding: 1em;
    max-width: 150px !important;
  }
}






// ===============
// UTILITY CLASSES
// ===============
.cbre-brand-box {
  background-color: transparentize($brand, 0.1);
  color: #fff !important;
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    color: #fff !important;
  }
}

.cbre-brand-three-box {
  background-color: $brand-three;
  color: #fff !important;
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    color: #fff !important;
  }
}

.cbre-white-box {
  background-color: transparentize(#fff, 0.6);
  color: #fff !important;
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    color: #fff !important;
  }
}

.cbre-title-bar {
  background-color: $brand;
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  padding: 30px 30px 20px;
  h1 {
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
}

.cbre-has-text-white {
  color: #fff !important;
}

.cbre-has-text-brand-two {
  color: $brand-two !important;
}

// CUSTOM HEADSHOTS
.cbre-headshot-container {
  text-align: center !important;
}

.cbre-headshot {
  border-radius: 50%;
  border: 2px solid #fff;
}

.cbre-headshot-name {
  text-align: center !important;
  font-size: 0.85em !important;
}

.cbre-heading-has-icon {
  display: table;
  .cbre-heading-icon,
  .cbre-heading-content {
    display: table-cell;
    vertical-align: middle;
  }
}

.cbre-heading-icon {
  max-width: 35px !important;
  max-height: 35px !important;
  margin-right: 0.5em !important;
}


// =====================
// PROFESSIONAL PROFILES
// =====================
.cbre-professional-profile {
  position: relative;
  margin-top: 30px;
  @media screen and (max-width: 568px) {
    margin-top: 60px;
  }


  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    width: 75px;
    height: 75px;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  .cbre-headshot {
    position: absolute;
    top: -40px;
    right: -5px;
  }

  .cbre-professional-profile-name,
  .cbre-professional-profile-title {
    margin-bottom: 0 !important;
  }

}


.cbre-transition-custom-image {
  position: absolute;
  right: -30px;
  top: 100%;
  max-width: 350px !important;
  width: 100%;
  @media screen and (max-width: 568px) {
    position: relative;
    right: auto;
    top: auto;
    max-width: 100% !important;
  }
}

.cbre-property-transition-container {
  
  .grid .one-third {
    @media screen and (max-width: 568px) {
      margin-bottom: 1.5em !important;
    }
  
    &:first-child li {
      margin-right: 1.3334em !important;
      @media screen and (max-width: 568px) {
        margin-right: 0 !important;
      }
    }

    &:nth-child(2) li {
      margin-left: 0.6667em !important;
      margin-right: 0.6667em !important;
      @media screen and (max-width: 568px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    &:nth-child(3) li {
      margin-left: 1.3334em !important;
      @media screen and (max-width: 568px) {
        margin-left: 0 !important;
      }
    }

  }

  h2 {
    margin-bottom: 1em !important;
  }

  h3 {
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: center;
    color: $brand-three !important;
    border-top: 2px solid $brand-three;
    border-bottom: 2px solid $brand-three;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 0 !important;
  }

  ul {
    list-style-type: none !important;
    // THIS IS TO OVERRIDE DEFAULT STYLES
    #content_editor &,
    .pdf-page-content & {
      padding-left: 0 !important;  
    }
  }

  li {
    font-size: 0.7em !important;
    background-color: $brand;
    color: #fff !important;
    padding: 1em 1em 1em 35px !important;
    border-bottom: 1px solid $brand-three;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      width: 15px;
      height: 15px;
      transform: translateY(-50%);
      border: 2px solid #fff;
      border-radius: 50%;
    }

    &:last-child {
      border-bottom: 0;
    }

  }

}


.cbre-pulse-container {

  blockquote {
    margin-left: 105px;
    max-width: 55%;
  }

}

.cbre-advantage-visual {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  // OVERRIDING DEFAULT LIST PADDING
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }
  @media screen and (max-width: 568px) {
    flex-direction: column;
    align-items: center;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    border-top: 3px dashed lighten($brand, 8%);
    @media screen and (max-width: 568px) {
      transform: rotate(90deg);
      width: 150%;
      max-width: 300px;
    }
  }

  li {
    text-align: center;
    padding: 1.5em !important;
    font-size: 0.75em !important;
    line-height: 1.5 !important;
    color: #fff !important;
    width: 200px;
    height: 200px;
    background-color: lighten($brand, 8%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 568px) {
      margin-bottom: 30px;
    }
  }

}

.cbre-pulse-icon-list {
  list-style-type: none;
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }

  p {
    margin-bottom: 0 !important;
    color: #fff !important;
  }

  h4 {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 300 !important;
  }

  .cbre-pulse-icon-item {
    display: flex;
    align-items: center;
    // OVERRIDING DEFAULT LIST ITEM MARGIN
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 0 !important;
    }
  }

  .cbre-pulse-icon {
    background-color: $brand;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    margin-right: 30px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 50px;
      max-height: 50px;
    }

  }

  .cbre-pulse-content {
    background-color: transparentize(#fff, 0.7);
    padding: 1em 2em !important;
    width: 100%;
  }

  li:first-child .cbre-pulse-content {
    padding-top: 2em !important;
  }

  li:last-child .cbre-pulse-content {
    padding-bottom: 2em !important;
  }

}


.cbre-contractor-induction-list {
  list-style-type: none;
  margin-top: 30px;

  .cbre-contractor-induction-item {
    display: flex;
    align-items: center;
  }

  .cbre-contractor-induction-icon {
    flex-shrink: 0;
    margin-right: 10px;
  }

  .cbre-contractor-induction-content {
    font-size: 0.85em !important;
    line-height: 1.4 !important;
  }

}


.cbre-icon-list {
  list-style-type: none;
  padding-top: 0.5em;
  
  li {
    display: table;
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 1.25em !important;
    }
  }
  
  .cbre-icon-list-icon,
  .cbre-icon-list-content {
    display: table-cell; 
    vertical-align: middle;
  }
  
  .cbre-icon-list-icon {
    padding-right: 1em !important;
    
    img {
      max-width: 1.75em !important;
    }

  }
  
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }

}

.cbre-case-study-results-list {
  list-style-type: none;
  margin-bottom: 1em !important;
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0 !important;
  }

  .cbre-case-study-results-item {
    font-size: 0.9em !important;
    line-height: 1.4 !important;
    position: relative;
    border-bottom: 1px solid #BCBEC0;
    padding-left: 40px !important;
    padding-bottom: 1em !important;
    padding-top: 1em !important;
    #content_editor &,
    .pdf-page-content & {
      margin-bottom: 0 !important;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      width: 20px;
      content: '';
      background-image: url(../img/checkmark.png);
      background-size: 15px;
      background-position: center;
      height: 25px;
      background-repeat: no-repeat;
    }

    &:last-child {
      border-bottom: 0;
    }

  }

}

.cbre-case-study-image {
  margin-bottom: -10em !important;
}

.cbre-case-study-meta-box {
  
  #content_editor &,
  .pdf-page-content & {
    padding-top: 11em !important;
  }

  p {
    #content_editor &,
    .pdf-page-content & {
      font-size: 0.8em !important;
      line-height: 1.4 !important;
    }
  }

  hr {
    color: #fff;
    border-color: #fff;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  .cbre-blockquote-quote {
    position: relative;
    font-size: 1.1em !important;
    line-height: 1.4 !important;
    
    &:before,
    &:after {
      content: '"';
      position: absolute;
      color: #fff !important;
      font-size: 1.6em !important;
      line-height: 1 !important;
      font-style: italic;
    }

    &:before {
      top: -0.1em;
      left: -0.5em;
    }

    &:after {
      position: absolute;
      bottom: 0em;
    }

  }

}

// SPACING UTILITIES
.cbre-pad-y {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  &-more {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

.cbre-pad-t {
  padding-top: 30px !important;
  &-more {
    padding-top: 60px !important;
  }
}

.cbre-pad-b {
  padding-bottom: 30px !important;
  &-more {
    padding-bottom: 60px !important;
  }
}

.cbre-pad-x {
  padding-left: 30px !important;
  padding-right: 30px !important;
  &-more {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

.cbre-pad-l {
  padding-left: 30px !important;
  &-more {
    padding-left: 60px !important;
  }
}

.cbre-pad-r {
  padding-right: 30px !important;
  &-more {
    padding-right: 60px !important;
  }
}

.cbre-mar-y {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  &-more {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

.cbre-mar-t {
  margin-top: 30px !important;
  &-more {
    margin-top: 60px !important;
  }
}

.cbre-mar-b {
  margin-bottom: 30px !important;
  &-more {
    margin-bottom: 60px !important;
  }
  &-neg {
    margin-bottom: -30px !important;
  }
}

.cbre-mar-x {
  margin-left: 30px !important;
  margin-right: 30px !important;
  @media screen and (max-width: 568px) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  &-more {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}

.cbre-mar-l {
  margin-left: 30px !important;
  &-more {
    margin-left: 60px !important;
  }
}

.cbre-mar-r {
  margin-right: 30px !important;
  &-more {
    margin-right: 60px !important;
  }
}