// =================
// CUSTOM FULL PAGES
// =================

// BASE STYLES
.cbre-full-page {
  position: relative;
  left: -30px;
  top: -20px;
  width: calc(100% + 60px);
  padding: 20px 30px;
  margin-bottom: -40px;
  background-size: cover;
  background-position: center;
  @media print {
    left: -1in;
    top: -1in;
    width: 8.5in;
    min-height: 11in;
  }
}

// FULL WIDTH CONTAINER 
.cbre-full-width {
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
  @media print {
    left: -1in;
    width: 8.5in;
  }
  
  img {
    width: 100%;
  }

}