.cbre-headshot-container {
  text-align: center !important;
}

.cbre-headshot {
  border-radius: 50%;
  border: 2px solid #fff;
}

.cbre-headshot-name {
  text-align: center !important;
  font-size: 0.85em !important;
}