.cbre-table {
  font-size: 0.85em !important;
  line-height: 1.4 !important;
  
  tfoot td {
    color: #fff;
    background-color: $brand !important;
  }

  &.cbre-fee-structure {
    
    th {
      text-align: center !important;
    }

    th:first-child {
      text-align: left !important;
    }
    
    td {
      text-align: center;
      
      &:first-child {
        text-align: left;
      }

    }

  }

}