.cbre-professional-profile {
  position: relative;
  margin-top: 30px;
  @media screen and (max-width: 568px) {
    margin-top: 60px;
  }


  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    width: 75px;
    height: 75px;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  .cbre-headshot {
    position: absolute;
    top: -40px;
    right: -5px;
  }

  .cbre-professional-profile-name,
  .cbre-professional-profile-title {
    margin-bottom: 0 !important;
  }

}