.cbre-intro-letter {
  .cbre-mar-x-more {
    @media screen and (max-width: 568px) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  .cbre-pad-x-more {
    @media screen and (max-width: 568px) {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
  .cbre-pad-y-more {
    @media screen and (max-width: 568px) {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
  }
}